body{
font-family:Segoe UI;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
}

.login-container{
background:rgba(255,255,255,0.08);
padding:40px;
border-radius:15px;
backdrop-filter:blur(10px);
color:white;
width:300px;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
background:#27496d;
color:white;
}

button{
width:100%;
padding:10px;
background:#ff416c;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

#errorMsg{
color:red;
font-size:14px;
}